# Wandb Settings
wandb_entity: samuelhsu
wandb_project: recbole

# Environment Settings
seed: 1234
show_progress: False


user_inter_num_interval: '[5,inf)'
item_inter_num_interval: '[5,inf)'

# Training Settings
epochs: 9999

# Evaluation Settings
eval_args:
  order: TO
  split: 
    RS: [7, 1, 2]
  mode: full
metrics: [Recall, Precision, NDCG, MAP, Hit]
topk: [1, 5, 10, 20, 100]
valid_metric: Recall@20
eval_batch_size: 2048
